@font-face {
    font-family: 'robotobold';
    src: url('fonts/webfontkit-20200701-124942/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20200701-124942/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

body
{
	margin: 0;
	padding: 0;
	
}

.headerblock /* Titre + Nav */
{

	height: 85px;
	max-width: 600px;
	margin: auto;
}

#titre
{
	font-family: 'robotobold';
	font-size: 15px;
}

header
{

	display: flex;
	justify-content: space-between;
	height: 85px;
}

nav ul
{
	display: flex;
	list-style-type: none;
	margin:auto;
	justify-content: flex-end;
	padding-bottom: 40px;
	padding-top: 30px;
	width: 70%;
}

nav li
{
	margin-right: 30px;;
	font-family: 'robotoregular';
}

nav a
{
	color: rgb(164,164,164);
	text-decoration: none;
}

nav a:hover
{
	color: rgba(255,108,64);
}

.intro /* banniere + description */
{
	width: 100%;
	background: url(images/head-bg.jpg) center top #F7F7F7;
	height: 272px;
	position: relative;
	margin: auto;
	max-width: 100%;
}

.introblock
{
 	max-width: 600px;
 	margin:auto;
 	display: flex;
}

.intro-row
{

	margin: auto;
	position: absolute;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80%;	
	width: 90%;
}


.avatarblock
{
	display: flex;
	justify-content: center;
	padding-top: 40px;
	width: 600px;
	margin:auto;
	align-content: center;
	max-width: 600px;

}

.avatar
{	
	display: flex;
	
	justify-content: center;
	border: 1px solid #DC5227;
	background-color: white;
	border-radius: 50px;
	overflow: hidden;
	margin: auto;
}



p.description::before /* border fleche description */
{
    content: ''; 
    position: absolute;
    border-style: solid;
    border-width: 11px 10px 0 0;
    border-color: transparent #DC5227;
    display: block;
    left: 33%;
    top: -10px;
    z-index: -1;
    width: 15%;
    margin: auto;
}


p.description::after /* background fleche description */
{
	content: '';
	position:absolute;
	border-style: solid;
	border-width:  9px 9px 0 0;
	border-color: transparent #fff;
	display: block;
	left: 33%;
	top: -8px;
	z-index: 1;
	width: 15%;
	margin: auto;
}


p.description

{	position: relative;
	font-family: 'robotoregular';
	font-size: 13px;
	background-color: #fff;
	color: #E85F37;
	font-weight: 700; /* equivalent de bold */
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 25px;
	border: 1px solid #DC5227;
	border-radius: 5px; /* bordure arrondie */
	box-shadow: inset 0 -3px 0 #ffcfbc;
	width: 600px;
	margin:auto;
	text-align: center;
	max-width: 600px;
}

.backgroundcolor /* background color under header + banner */
{
	background-color: #ffedeb;
}

h3, p, li, ul
{
	color: #494d4a;

}

section
{
	font-family: 'robotoregular';
	padding-top: 50px;
	max-width: 900px;
	margin: auto;
}



.coordonnées
{
	display: flex;
	justify-content: space-between;
	
}

.coordonnées a
{
	text-decoration: none;
	font-weight: bold;
	color: grey;

}

.coordonnées a:hover
{
	color: rgba(255,108,64)
}

.coordonnées1
{
	font-size: 15px;
    background-color: #fff;
    box-shadow: inset 0 -5px 0 #ffcfbc;
    border: 2px dotted #DC5227;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
 }

.coordonnées2
{
	font-size: 15px;
    background-color: #fff;
    box-shadow: inset 0 -5px 0 #ffcfbc;
    border: 2px dotted #DC5227;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
 }


h2 /* click animation deroulement */
{
	padding: 5px; 
	text-align: center;
	font-family: 'robotoregular';
	font-size: 20px;
	background-color: #fff;
	color: #E85F37;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	border: 1px solid #DC5227;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 #ffcfbc;

}

.part1 /* ul deroulée au click h2 */
{
	display: flex;
	justify-content: center;
	flex-direction: row
	margin-left: 20px;
}

.part1 li
{
	list-style-type: circle;
	text-align: left;
	font-size: 15px;
}

h3
{
	font-size: 18px;
	text-align: center;
}

.part2
{
	margin-left: 20px;
}

.part2 li
{
	list-style-type: circle;
}

.part3 
{
	text-align: center;
}

.part3 li
{
	text-align: center;
	list-style-type: none;
}

.langues ul
{
	display: flex;
	justify-content: space-around;
}

.langues li
{
	list-style-type: none;
}

.loisirs
{
	margin-left: 20px;
}

.loisirs li
{
	list-style-type: none;
}
footer
{
	padding-top: 50px;
	font-family: 'robotoregular';
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
}


#auteur_maquette p
{
	text-align: center;
	color: rgb(164,164,164);
	text-transform: uppercase;
	letter-spacing: 2px;
}


#contact h1 
{
	padding-bottom: 10px;
	text-align: center;
	font-size: 13px;
	color: rgb(164, 164,164);
	text-transform: uppercase;
}

footer a
{
	text-decoration: none;
	color: rgb(164,164,164);
}

footer a:hover
{
	color: rgba(255,108,64);
}


#contact 
{
	text-align: center;

}

#icons img
{
	margin-right: 50px;
	margin-left: 50px;
}



