@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto:wght@300&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(247, 247, 239);
}

/* Redimensionnement de l'image */
img{
    width: 400px;
    height: 500px;
}

/* Permet d'aligner les elements de subcontainer */
#container{
    display: flex;
    justify-content: flex-start; 
}

/* Permet de mettre en colonne la div blocpage + boutons */
#subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blocpage{
    margin: 30px;
}

h1{
    text-transform: uppercase;
    font-family: 'Mate SC', serif;
}

h2{
    text-transform: uppercase;
    font-size: medium;
    font-family: 'Mate SC', serif;
}

p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}


/* Permet d'aligner et d'espacer la liste */
ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;  
}

li{
    list-style-type: none;
    background-color: rgb(82, 41, 41);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

/* Hover boutons */
li:hover{
    background-color: rgb(160, 81, 81);
}

a{
    text-decoration: none;
    color: rgb(219, 219, 219);
}


/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {

    img{
        padding-top: 20px;
    }
    
/* Container colonne + centrage blocpage et boutons */
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1,h2{
        text-align: center;
    }

    #subcontainer{
        display: flex;
        align-items: center;
    }

    /* Stylisation boutons (nav non necessaire boutons) */
    li{
        list-style-type: none;
        background-color: rgb(82, 41, 41);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding-left: 0px; /* ne pas oublier padding par defaut des puces ul */
    }
    
    #boutons{
        width: 80%;
        text-align: center;
    }
}

