h1
{
    font-size: 30px;
    text-align: center;
    color: #242424;
}


body 
{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #242424;
    background-image: url(triangular.png);
}

li
{
    list-style-type: none;
}